<?xml version="1.0"?>
<launch>

    <arg name="gui" default="true"/>
    <arg name="is_gazebo" default="false"/>
    <arg name="robot_description" default="robot_description"/>

    <param name="$(arg robot_description)"
           command="$(find xacro)/xacro.py '$(find mobile_manipulator_visualizer)/models/mico_bs.urdf.xacro'
           is_gazebo:=$(arg is_gazebo)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="robot_description" to="$(arg robot_description)"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="$(arg robot_description)"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz"/>

    <node name="mico_bs_tf_checker" pkg="robot_controller" type="check_transform_matrix.py"
          output="screen">
    </node>

    <node name="mico_tf_updater" pkg="jaco_driver" type="jaco_tf_updater" output="screen" cwd="node">
        <remap from="/mico_tf_updater/in/joint_angles" to="/mico_arm_driver/out/joint_angles"/>
        <param name="tf_prefix" value="__mico_" />
        <param name="base_to_api" value="0.028" />
        <param name="base_to_j1" value="0.1544" />
        <param name="j1_to_j2" value="-0.1181" />
        <param name="j2_to_j3" value="0.2900" />
        <param name="j3_offset" value="-0.0070" />
        <param name="j3_to_j4" value="0.1233" />
        <param name="j4_to_j5" value="0.0741" />
        <param name="j5_to_j6" value="0.0741" />
        <param name="j6_to_end" value="0.1600" />
        <param name="j5_bend_degrees" value="-55.0" />
        <param name="j6_bend_degrees" value="55.0" />
    </node>

</launch>